.authWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffe6c9;
}

.cardStyle {
  width: 95%;
  max-width: 1200px;
  overflow: hidden;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.imgStyle {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: default;
}

.authContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  min-height: 300px;
}
