.menu {
  :global {
    .ant-menu-item,
    .anticon {
      color: #333 !important;
    }

    .ant-menu-item:hover {
      background-color: #1890ff !important;
      color: white !important;
    }

    .ant-menu-item-selected {
      background-color: #1890ff !important;
      color: white !important;

      .anticon {
        color: white !important;
      }
    }
  }
}
