.control {
  box-sizing: content-box;
  margin: 1rem auto;
  display: flex;
  width: 45rem;
  height: 4.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  background-color: #f1f4f9;
  border-radius: 5px;
  align-items: center;
  justify-content: left;
  padding-right: 2rem;

  .buttonControl {
    display: flex;
    gap: 0.5rem;
    margin: 0.25rem;
  }

  .titleWrapper {
    flex: 1;
    width: 40rem;
    word-break: break-word;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }
  .inputEdit {
    width: 40rem;
    height: 2.25rem;
    margin-top: 1.25rem;
    max-height: 100%;
    font-size: 1.25rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(241, 244, 249);
    border-color: black;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &:focus {
      border-color: #3498db;
      outline: none;
    }
  }
}
