.wrapper {
  margin: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    font-size: 1.25rem;
    width: 40rem;
    border: 1px solid;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    background-color: rgb(241, 244, 249);
    border-color: black;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &:focus {
      border-color: #3498db;
      outline: none;
    }
  }

  button {
    cursor: pointer;
    font-size: 1.25rem;
    margin: 0 0.5rem;
    padding: 0.5rem 2rem;
    background-color: #2a84eb;
    border-radius: 5px;
    border-style: none;
    color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      background-color: #2a84eb;
    }
  }
}
.validation {
  position: absolute;
  display: flex;
  justify-content: center;
  color: rgb(248, 163, 163);
  margin-left: 6rem;
  margin-top: -3rem;
  text-shadow: 1px 1px 2px pink;

  opacity: 0;
  transition: opacity 0.3s ease;
  &.visible {
    opacity: 1;
  }
}
