.iconButton {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 4px;
  border-style: none;
  img {
    width: 1rem;
  }
}

.primary {
  background-color: #35a731;
}

.secondary {
  background-color: #2a84eb;
}
.danger {
  background-color: #fd6756;
}
