.control {
  margin: 1rem auto;
  display: flex;
  width: 47rem;
  min-width: 26rem;
  min-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  background-color: #f1f4f9;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;

  .titleWrapper {
    width: 39rem;
    max-width: 100%;
    word-break: break-word;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }
  .inputEdit {
    width: 47rem;
    min-height: 3rem;
    border-radius: 5px;
  }
}
.buttonControl {
  display: flex;
  margin-left: 6.5rem;
  gap: 0.5rem;
}

.validation {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: #f8a3a3;
  margin-left: 6.4rem;
  bottom: 5.1rem;
  text-shadow: 1px 1px 2px pink;
}
