.control {
  margin: 1rem auto;
  display: flex;
  width: 47rem;
  min-width: 26rem;
  min-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  background-color: #f1f4f9;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;

  .titleWrapper {
    width: 39rem;
    max-width: 100%;
    word-break: break-word;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }
  .inputEdit {
    border: 1px solid;
    width: 40rem;
    min-height: 3rem;
    border-radius: 5px;
    background-color: rgb(241, 244, 249);
    border-color: black;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &:focus {
      border-color: #3498db;
      outline: none;
    }
  }
}

.validation {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: #f8a3a3;
  margin-left: 6.4rem;
  bottom: 5.1rem;
  text-shadow: 1px 1px 2px pink;
}
