.control {
  margin: 1rem auto;
  display: flex;
  width: 45rem;
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
  background-color: #f1f4f9;
  border-radius: 5px;
  align-items: center;
  justify-content: left;
  padding-right: 2rem;

  .titleWrapper {
    flex: 1;
    width: 40rem;
    word-break: break-word;
  }

  .completed {
    text-decoration: line-through;
    color: gray;
  }
  .inputEdit {
    width: 47rem;
    height: 100%;
    max-height: 100%;
    font-size: 1.25rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(241, 244, 249);
    border-color: black;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &:focus {
      border-color: #3498db;
      outline: none;
    }
  }
}

.validation {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: #f8a3a3;
  margin-left: 6.4rem;
  bottom: 5.1rem;
  text-shadow: 1px 1px 2px pink;
}

.iconDiv {
  width: 5rem;
  display: flex;
}
